.CardItem {
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%
}

.image {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}