.Modal {
    position: fixed;
    z-index: 500;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 16px black;
    transition: opacity 0.5s ease-out;
}

.Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 499;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
}

.closeIcon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    cursor: pointer;
    filter: drop-shadow( 0px 0px 3px black );
    transition: all 300ms;
}

.closeIcon:hover {
    width: 24px;
    top: 14px;
    right: 14px;
}

@media only screen and (max-width: 900px) {
    .Modal {
        width: 90%;
    }
}

@media only screen and (max-width: 720px) {
    .Modal {
        height: 90%;
    }
}