@value colors: "../../colors.css";
@value primary-main from colors;

.Projects {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Projects p {
  margin: 1em 0;
  font-size: 1.2em;
  align-self: flex-start;
  font-family: 'Roboto Mono', monospace;
  color: primary-main;
}

.Projects h1 {
  align-self: flex-start;
  margin: 0;
}

.bottom {
  z-index: -99;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 100px;
  background: linear-gradient(0deg, rgba(5,5,14,1) 0%, rgba(5,5,14,1) 25%, rgba(5,5,14,0) 100%);
}