@value colors: "../../colors.css";
@value primary-main, primary-dark, text-primary, text-primary-dark from colors;

.Home {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
}

.wrapper {
  text-align: center;
}

.first:first-child {
  color: primary-main;
}

.first:nth-child(2) {
  color: primary-dark;
}

.second:first-child {
  color: text-primary;
}

.second:nth-child(2) {
  color: text-primary-dark;
}