.Navbar {
  position: fixed;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
  z-index: 400;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 40px 16px;
}

.logo {
  text-decoration: none;
  cursor: pointer;
}

.logo svg {
  height: 3em;
}

.items {
  font-size: 1.2rem;
}

.items a {
  padding: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  transition: all 300ms;
  font-size: 1.2rem;
}

.items a:hover {
  background: rgba(56, 56, 56, 0.5);
}

@media only screen and (max-width: 400px) {
  .items a {
    padding: 8px;
  }

  .logo svg {
    height: 2.5rem;
  }
}