.wrapper {
  position: relative;
}

.footer {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
}