@value colors: "./colors.css";
@value text-primary, background-main from colors;

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: background-main;
  color: text-primary;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Staatliches', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 14px;
  }
}